body{
  max-width: 100%;
  overflow-x: hidden;
  margin:auto;
  background-color: black;
  color:white;
  
  }
  h1{
  font-size:45px;
  font-family: 'Lacquer', sans-serif;
  text-align:center;
  color:#6EBE44;
  }
  
  .gallery-word{
  -webkit-animation:flicker 2s infinite;
  }
  
  @keyframes flicker
  {
  0% {opacity:0;}
  9% {opacity:0;}
  10% {opacity:.2;}
  13% {opacity:0;}
  20% {opacity:.5;}
  25% {opacity:1;}
  
  }
  
  #header{
  width:100%;
  line-height: 70px;
  display:inline-block;
  background-size: cover;
  background-color:#090B06;
  }
  nav{
    line-height: 50px;
    margin-top:50px;
  }
  
  a{
    font-family: 'Blinker', sans-serif;
    text-align:right;
    text-decoration: none;
    display:flex;
    flex-direction:column;
    color:white;
    margin-right:200px;
    margin-bottom: 10px;
  }
  a:hover{
    color:#5c25a3;
    font-family: 'Blinker', sans-serif;
  }
  #home-Pg{
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(183, 12, 240);
    width:100%;
    background-image: url('https://media.giphy.com/media/31ZhdHbVzsK5RlHXSr/giphy.gif');

    background-size: cover;
    height: 100vh;
  }
  #adventure{
    width:100%;
    height: 100vh;
  }
  
  button{
    outline:transparent;
  }
  #enter-Link{
    margin-left: 40%;
    margin-right:30%;
    margin-top: 25%;
    font-size:40px;
    color:#6EBE44;
    font-family: 'Lacquer', sans-serif; 
    text-align:center;
    background-color:transparent;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
  }
  #enter-Link:hover{
    background-color:#969696;
    box-shadow: 0 0 10px 0 #6104da inset, 0 0 20px 2px #5c25a3;
    border: 3px solid #5c25a3;
    color:#5c25a3;
  }
  #game-div{
    margin-left:25%;
    margin-Right:25%;
    margin-top:20%;
    opacity: .95;
  
    background-color:rgb(15, 58, 7);
    color:white;
    font-size:18px;
    font-family: 'Blinker', sans-serif;
    width:50%;
    display: block;
    text-align: center;
    position: absolute;
  }
  .modal{
    margin-left:20%;
    margin-Right:20%;
    margin-top:5%;
    opacity: .95;
  
    background-color:rgb(15, 58, 7);
    color:white;
    font-size:18px;
    font-family: 'Blinker', sans-serif;
    width:60%;
    display: block;
    text-align: center;
    position: absolute;
    
    visibility: hidden;
  
  }
  #gif-wall{
    display:grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    width:100%;
    
    margin-left:15%;
    margin-right:15%;
    }
   
  img{
    height:220px;
    width:220px;
  }
  

  h6{
    text-align: center;
  }
  footer{
    background-color:#090B06;
    display: inline-block;
    height: 100px;
    width:100%;
  }