body{
  max-width: 100%;
  margin:0;
  top:0;
  background-color:#090B06;
  /* overflow-x:hidden; */
 
  }
  #header{
  display: inline-block;
  top:0;
  opacity:.9;
  width:100%;
  
  line-height: 150px;
  background-size: cover;
  background-color:rgb(8, 12, 1);
  }

  #adventure-header{
    top:0;
    opacity:.6;
    overflow-x: hidden;
   
    width:100%;
    line-height:80px;
    background-size: cover;
    background-color:#090B06;
    }

  h1{
 
  font-size:35px;
  margin-bottom: -30px;
  font-family: 'Lacquer', sans-serif;
  text-align:center;
  color:#6EBE44;
  }
  #enter-Link{
    position: sticky;
    margin-top:14%;
    margin-left:18%;
    margin-right:40%;
    width:120px;
    font-size:28px;
    color:#6EBE44;
    font-family:'Lacquer', sans-serif; 
    text-align:center;
    background-color:transparent;
    
    
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
  }
  #enter-Link:hover{
    background-color:#b5f9b5;
    box-shadow: 0 0 10px 0 #9b9608 inset, 0 0 20px 2px #9b9608 ;
    border: 3px solid #9b9608 ;
    color:#9b9608 ;
  }
 #reset-button{
   width:10%;
   font-size:18px;
   text-align: center;
   display:flex;
  align-content: flex-start;
 }
   #home-Pg{
    background-image: url(https://media.giphy.com/media/31ZhdHbVzsK5RlHXSr/giphy.gif);
    background-size: cover;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height: 100vh;
  } 
  
  .gallery-word{
  -webkit-animation:flicker 2s infinite;
  margin: 0;
  }
  
  @keyframes flicker
  {
  0% {opacity:0;}
  9% {opacity:0;}
  10% {opacity:.2;}
  13% {opacity:0;}
  20% {opacity:.5;}
  25% {opacity:1;}
  }
  a{
    margin-left:20%;
    font-size: 28px;
    font-family: 'Lacquer', sans-serif;    
    text-decoration: none;
    color:#6EBE44;
  }

  a:hover{
    color:#bac146;
    font-family: 'Lacquer', sans-serif; 
  }
 
  #adventure{
   overflow-y: hidden;
   overflow-x: hidden;
   margin-top:100px;
   width:100%;
  }
  button{
  
    font-family: 'Blinker', sans-serif;
    font-size: 22px;
    border-radius: px;
    width:50%;
    background-color:#9b8a08;
    box-shadow: 6px 5px rgb(9, 26, 0);
    color:rgb(255, 255, 255);
    margin-top:15px;
    border: none;
    padding:5px 0 0 5px;
  }

  button:hover{
    background-color:#090B06;
    color:white;
  }


  #story-div{
    margin-left:15%;
    margin-Right:0;
    margin-top:26%;
    opacity:.98;
    background-color:rgb(15, 58, 7);
    box-shadow: 6px 5px rgb(9, 26, 0);
    color:white;
    height:350px;
    z-index: 10;
    font-size:20px;
    padding:20px;
    font-family: 'Blinker', sans-serif;
    width:70%;
    display: block;
    position: absolute;
    text-align: center;
  }

 
  #gif-wall{
   
    display:grid;
    grid-template-columns: 280px 280px 280px 280px 280px;
    width:100%;
    margin-left:1%;
    margin-right:1%;
    }

  img{
    height:280px;
    width:280px;
    object-fit: cover;
  }
  h5{
    font-family: 'Blinker', sans-serif;
    color:rgb(126, 11, 11);
    text-align: center;
  }
  footer{
    position: fixed;
    display: inline-block;
    background-color:#090B06;
    line-height:100px;
    width:100%;
  }

  /*    Media Qries   */
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    *{
       overflow-x:hidden;
       margin:0;
    }
    
    #home-Pg{
      height:400px;
      background-image: url(https://media.giphy.com/media/ddHnuEEbWGWFfnHW4O/giphy.gif);
      height:85vh;
      background-size: cover;
    }
    header{
    
    font-size:23px;
    text-align:center;
     margin-left:18%;
    }
   button{
   font-size:25px;
   }
    a{
      
      margin-top:40%;
      font-size:30px;
      }
    #story-div{
      opacity: .98;
      width:80%;
      margin-left:5%;
      margin-top:55%;
    
    }
   



   
}


